<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <h1>Welcome {{session.name}}</h1>

        <form action="/process" method="post">
            Your Name: <input type="text" name="name" placeholder="Your name:"><br>
            Your Email: <input type="text" name="email" placeholder="Your email:"><br>
            <input type="hidden" name="type" value="register">
            <input type="submit" value="Sign Up!">
        </form>

        <table>
    <tr>
        <td>Product</td>
        <td>Price</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>Dojo t-shirt</td>
        <td>$15.99</td>
        <td><a href="/buy/1">Buy</a></td>
    </tr>
    <tr>
        <td>Dojo Hat</td>
        <td>$11.99</td>
        <td><a href="/buy/2">Buy</a></td>
    </tr>
    <tr>
        <td>Dojo Algorithm Book</td>
        <td>$34.99</td>
        <td><a href="/buy/3">Buy</a></td>
    </tr>
</table>

    </body>
</html>
